:root {
  --buttons-color: rgba(255, 255, 255, 0.208);
  --main-color: black;
  --operations-color: rgb(234, 240, 125);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
}

body {
  background: linear-gradient(45deg, hsl(232, 91%, 58%), hsl(274, 89%, 15%));

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  /* grid-template-rows: repeat(5, 75px); */
  gap: 12px;
  margin-top: 15px;
  /* grid-template-areas:
    "clear divide multiply minus"
    "number-7 number-8 number-9 plus"
    "number-4 number-5 number-6 plus"
    "number-1 number-2 number-3 equals"
    "number-0 number-0 dot equals"; */
}

.calculator {
  background-color: var(--main-color);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 32px var(--buttons-color);
  border: 1px solid var(--buttons-color);
}

.display {
  background: var(--main-color);
  padding: 0px 20px;
  border-radius: 10px;
  border: 2px solid dimgray;
  margin-bottom: 20px;
  text-align: right;
  color: var(--operations-color);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.first-row {
  background-color: dimgray;
}
.expression {
  color: rgb(185, 184, 184);
  font-size: 1.4em;
  height: 28px;
}
.result {
  font-size: 2.8em;
}
.backspace {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button {
  padding: 15px;
  border: none;
  border-radius: 30%;
  font-size: 1.5em;
  cursor: pointer;
  background: var(--buttons-color);
  color: white;
  transition: all 0.3s ease;
}

button.operator,
button.equals {
  background-color: var(--operations-color);
  color: var(--main-color);
}

.buttons > button:hover {
  background: var(--buttons-color);
  transform: scale(1.15);
  color: white;
}

.buttons > button:active {
  transform: scale(0.9);
}

.operator {
  background-color: rgba(29, 4, 38, 0.4);
}

.clear {
  font-size: 1.6em;
}

.measure {
  background-color: white;
}

.change-mode {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-bottom: 1px solid var(--operations-color);
  padding-bottom: 15px;
}

.measure-icon,
.calculator-icon {
  color: var(--operations-color);
  font-size: 24px;
  cursor: pointer;
}

.units {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.unit {
  border: 1px solid var(--operations-color);
  border-radius: 15%;
  padding: 5px;
}

/* styles for accordion */
.accordion__section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 65%;
  border: 1px solid var(--operations-color);
  /* margin: 10px auto; */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: var(--operations-color);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border: none;
  transition: background-color 0.6s ease;
  padding: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.accordion.active {
  background-color: var(--operations-color);
  color: var(--main-color);
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

/* Style the accordion chevron icon */
.chevron-right {
  margin-left: auto;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */

.accordion__content {
  background-color: transparent;
  color: var(--operations-color);
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

/* Style the accordion content text */
.accordion__option {
  cursor: pointer;
  font-size: 1.1em;
  padding: 10px;
}
.convert-from-block {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--operations-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.amount-units-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--operations-color);
}
